@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Thin.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Thin.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Semibold.eot");
  src: local("☺"), url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.ttf") format("truetype"), url("../fonts/MyriadPro-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LucidaGrande";
  src: url("../fonts/LucidaGrande.eot");
  src: local("☺"), url("../fonts/LucidaGrande.woff") format("woff"), url("../fonts/LucidaGrande.ttf") format("truetype"), url("../fonts/LucidaGrande.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFCompactText";
  src: url("../fonts/SFCompactText-BoldG1.eot");
  src: local("☺"), url("../fonts/SFCompactText-BoldG1.woff") format("woff"), url("../fonts/SFCompactText-BoldG1.ttf") format("truetype"), url("../fonts/SFCompactText-BoldG1.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Light.eot");
  src: local("☺"), url("../fonts/Larsseit-Light.woff") format("woff"), url("../fonts/Larsseit-Light.ttf") format("truetype"), url("../fonts/Larsseit-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit.eot");
  src: local("☺"), url("../fonts/Larsseit.woff") format("woff"), url("../fonts/Larsseit.ttf") format("truetype"), url("../fonts/Larsseit.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.eot");
  src: local("☺"), url("../fonts/Larsseit-Bold.woff") format("woff"), url("../fonts/Larsseit-Bold.ttf") format("truetype"), url("../fonts/Larsseit-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-ExtraBold.eot");
  src: local("☺"), url("../fonts/Larsseit-ExtraBold.woff") format("woff"), url("../fonts/Larsseit-ExtraBold.ttf") format("truetype"), url("../fonts/Larsseit-ExtraBold.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Noe-Display";
  src: url("../fonts/Noe-Display-Bold.eot");
  src: local("☺"), url("../fonts/Noe-Display-Bold.woff") format("woff"), url("../fonts/Noe-Display-Bold.ttf") format("truetype"), url("../fonts/Noe-Display-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?2uwd1i");
  src: url("../fonts/icons.eot?2uwd1i#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?2uwd1i") format("truetype"), url("../fonts/icons.woff?2uwd1i") format("woff"), url("../fonts/icons.svg?2uwd1i#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-close:before {
  content: "\e900";
}

._icon-comment:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-search:before {
  content: "\e904";
}

._icon-twitter:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "MyriadPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "MyriadPro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  background-color: #f8f8f8;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.container_small {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  color: #b3b3b3;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "☆☆☆☆☆";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #47d37a;
  background-color: #f8f8f8;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 0;
  line-height: 1;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  padding: 45px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logos-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__image1 {
  width: 72px;
  height: 72px;
  margin-right: 18px;
}

.footer__image2 {
  width: 135px;
  height: 38px;
}

.footer__text-block {
  font-size: 16px;
  line-height: 150%;
  color: #909090;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 69%;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  z-index: 1000;
  max-height: 624px;
  width: 100%;
  background-color: #3cd072;
}

.main-screen_running {
  z-index: 2;
  max-height: 901px;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.2;
}

.header {
  position: relative;
  z-index: 2;
}

.header__logo {
  font-family: "SFCompactText";
  font-size: 35.4px;
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin: 0 0 105px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header__column_l {
  padding: 60px 0 85px 0;
}

.header__column_r {
  position: relative;
}

.header__main-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 0 0 30px 0;
}

.header__icon-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
}

.header__title {
  padding: 0 0 0 80px;
}

.header__title h1 {
  font-size: 32px;
  font-weight: 400;
}

.header__title h1 span {
  font-weight: 600;
}

.header__subtitle {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin: 0 0 16px 0;
}

.header__apple {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 216px;
  height: 48px;
  background-color: #0d0d0d;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin: 0 0 55px 0;
}

.header__apple_gradient {
  position: absolute;
  top: 0;
  left: 31%;
  z-index: 2;
  width: 38%;
  height: 48px;
  -webkit-transform: skew(35deg);
      -ms-transform: skew(35deg);
          transform: skew(35deg);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(255, 255, 255, 0.3)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.header__apple:hover .header__apple_gradient {
  opacity: 1;
}

.header__apple_link {
  position: relative;
  z-index: 3;
  display: inline-block;
  font-family: "LucidaGrande";
  color: #fff;
  font-size: 10px;
  padding: 5px 0 5px 80px;
  line-height: 19.75px;
}

.header__apple_link span {
  font-size: 19px;
}

._no-webp .header__apple_link::before{
  background: url(../img/logos/apple_logo_1085.png) left no-repeat; }

.header__apple_link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 35px;
  z-index: 2000;
  width: 29px;
  height: 34px;
}

.header__apple_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 216px;
  background-color: #0d0d0d;
  border-radius: 5px;
  padding: 8px 0;
  margin: 0 0 57px 0;
}

.header__apple_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.5%;
          flex: 0 1 37.5%;
  padding-left: 35px;
}

.header__apple_link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 62.5%;
          flex: 0 1 62.5%;
}

.header__link {
  font-family: "LucidaGrande";
  color: #fff;
}

.header__link_t1 {
  font-size: 10px;
}

.header__link_t2 {
  font-size: 19px;
}

.header__form {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
}

.header__form_input {
  width: 296px;
  height: 48px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  margin: 0 25px 0 0;
  border-radius: 5px;
}

.header__form_input::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__form_input::-moz-placeholder {
  color: #fff;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__form_input:-ms-input-placeholder {
  color: #fff;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__form_input::-ms-input-placeholder {
  color: #fff;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__form_input::placeholder {
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__form_input:focus {
  border-color: #bebebe;
}

.header__form_input:focus::-webkit-input-placeholder {
  opacity: 0.8;
}

.header__form_input:focus::-moz-placeholder {
  opacity: 0.8;
}

.header__form_input:focus:-ms-input-placeholder {
  opacity: 0.8;
}

.header__form_input:focus::-ms-input-placeholder {
  opacity: 0.8;
}

.header__form_input:focus::placeholder {
  opacity: 0.8;
}

.header__form_input._error {
  border: 2px solid red;
}

.header__form_btn {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  color: #3cd072;
  background-color: #fff;
  border-radius: 4px;
  padding: 11.5px 35px;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__form_btn:hover {
  background-color: #507489;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

.header__phone_top {
  position: absolute;
  right: 0px;
  bottom: -75px;
  z-index: 2;
}

.header__phone_bottom {
  position: absolute;
  right: 130px;
  bottom: -25px;
  z-index: 1;
}

.form__error {
  position: absolute;
  top: 50%;
  right: 0;
}

.bussiness {
  background-color: #f0f0f0;
  padding: 160px 0 85px 0;
}

.bussiness__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bussiness__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}

.bussiness__item_1 {
  position: absolute;
  bottom: -123px;
  left: -90px;
  z-index: 2;
}

.bussiness__item_2 {
  position: absolute;
  top: -198px;
  left: 70px;
  z-index: 0;
}

.bussiness__item_r {
  position: relative;
  padding: 0 0 0 80px;
  margin-bottom: 60px;
}

.bussiness__item_r:last-child {
  margin: 0;
}

.bussiness__img-block {
  position: absolute;
  top: 0;
  left: 0;
}

.bussiness__title {
  position: relative;
  font-size: 24px;
  line-height: 133.33333%;
  font-weight: 600;
  color: #3cd072;
  padding: 0 0 0 80px;
  margin-bottom: 20px;
}

._no-webp .bussiness__title::before{
  background: url(../img/icons/bussiness_icon_01.png); }

.bussiness__title::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 56px;
  height: 56px;
}

.bussiness__text {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: #000000;
}

.easy {
  padding: 50px 0 0 0;
}

.easy__header {
  text-align: center;
  margin: 0 0 44px 0;
}

.easy__top {
  text-align: center;
  margin: 0 0 30px 0;
}

.easy__logo {
  margin: 0 0 30px 0;
}

.easy__title {
  font-size: 24px;
  line-height: 133.33333%;
  font-weight: 600;
}

.easy__subtitle {
  font-size: 36px;
  line-height: 88.88889%;
  font-weight: 600;
  color: #3cd072;
}

.easy__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 24px;
  line-height: 133.33333%;
  font-weight: 600;
  margin: 0 0 50px 0;
}

.easy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
}

.easy__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 12px;
}

.easy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.easy__footer {
  max-height: 360px;
  overflow: hidden;
  border-radius: 47px 47px 0 0;
}

.easy__footer img {
  max-width: 100%;
}

.title__easy {
  margin: 0 0 15px 0;
}

.sports {
  padding: 80px 0 100px 0;
  background-color: #000;
}

.sports__block {
  text-align: center;
  margin: 0 0 50px 0;
}

.sports__title {
  font-size: 24px;
  line-height: 133.33333%;
  font-weight: 600;
  color: #fff;
  margin: 0 0 15px 0;
}

.sports__subtitle {
  font-size: 36px;
  line-height: 88.88889%;
  font-weight: 600;
  color: #3cd072;
}

.sports__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -2.5px;
}

.sports__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
  padding: 0 2.5px;
}

.sports__img {
  width: 100%;
}

.running {
  padding: 95px 0 0 0;
  position: relative;
  z-index: 3;
}

.running__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.running__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.running__column_absolute {
  position: relative;
}

.running__header {
  margin: 0 0 51px 0;
}

.running__title {
  position: relative;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 38px 0;
  padding: 0 0 0 100px;
}

._no-webp .running__title::before{
  background: url(../img/logos/running__logo.png); }

.running__title::before {
  content: "";
  width: 72px;
  height: 72px;
  position: absolute;
  top: -21px;
  left: 0;
}

.running__subtitle {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 150%;
}

.running__list {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 50px 0;
}

.running__list li {
  position: relative;
  padding: 0 70px 0 80px;
  margin: 0 0 50px 0;
}

._no-webp .running__list li::before{
  background: url(../img/icons/running_check_icon.png); }

.running__list li::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 56px;
  height: 56px;
}

.running__list li:last-child {
  margin: 0;
}

.running__phone {
  position: absolute;
  z-index: 2;
}

.running__phone_1 {
  left: 0;
  bottom: -50px;
}

.running__phone_2 {
  left: 160px;
  bottom: -50px;
}

.running__phone_3 {
  left: 355px;
  bottom: -50px;
}

.running__form-block {
  position: relative;
  z-index: 3;
  background-color: #f0f0f0;
  padding: 50px 0;
}

.running__form-title {
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  margin: 0 0 20px 0;
}

.running__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.running__form_input {
  max-width: 696px;
  width: 100%;
  height: 48px;
  font-size: 16px;
  border: 2px solid #3cd072;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0 12px;
}

.running__form_input::-webkit-input-placeholder {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #3cd072;
}

.running__form_input::-moz-placeholder {
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #3cd072;
}

.running__form_input:-ms-input-placeholder {
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #3cd072;
}

.running__form_input::-ms-input-placeholder {
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #3cd072;
}

.running__form_input::placeholder {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #3cd072;
}

.running__form_input:focus {
  border-color: #5b9e73;
}

.running__form_input:focus::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.running__form_input:focus::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.running__form_input:focus:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.running__form_input:focus::-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.running__form_input:focus::placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.running__form_input._error {
  border: 2px solid red;
}

.running__form_btn {
  max-width: 216px;
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  color: #3cd072;
  background-color: #000;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 0 0 23px;
}

.running__form_btn:hover {
  background-color: #507489;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

.watts {
  text-align: center;
  padding: 70px 0;
}

.watts__text {
  font-family: "HelveticaNeue";
  font-size: 16px;
  line-height: 150%;
  margin-top: 40px;
}

.watts__main-image {
  position: relative;
  margin-bottom: 80px;
}

.watts__img1 {
  min-width: 30%;
  max-width: 30%;
  position: relative;
  z-index: 0;
}

.watts__img2 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 30%;
  max-width: 30%;
}

.watts__btn {
  display: inline-block;
  font-size: 16px;
  line-height: 48px;
  font-weight: 600;
  color: #3cd072;
  background-color: #000;
  border-radius: 4px;
  max-width: 296px;
  width: 100%;
  height: 48px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.watts__btn:hover {
  background-color: #507489;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000;
}

.content-wats__slide img {
  padding: 0 40px;
  max-width: 100%;
}

.content-wats__reserv-low-resolution {
  display: none;
}

.content-wats__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
  margin: 0px 0px 15px 0px;
}

.content-wats__image img {
  max-width: 100%;
}

.tops {
  padding: 70px 0;
}

.tops__title {
  font-size: 36px;
  font-weight: 600;
  color: #3cd072;
  margin: 0 0 15px 0;
}

.tops__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #adadad;
  padding: 20px 0;
}

.tops__row:first-child {
  border-top: 1px solid #adadad;
}

.tops__column_image {
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 50%;
}

.tops__column_image img {
  max-width: 100%;
}

.tops__column_status-image {
  width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 23px;
}

.tops__column_status-image img {
  max-width: 100%;
}

.tops__column_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tops__column_info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 11.5px;
}

.tops__column_counter {
  max-width: 50%;
  padding: 0 11.5px;
}

.tops__name {
  font-size: 32px;
  font-weight: 600;
  color: #3cd072;
  margin: 0px 0px 5px 0px;
}

.tops__from {
  font-family: "HelveticaNeue";
  font-size: 24px;
  line-height: 133.33333%;
  font-weight: 300;
}

.tops__from span {
  text-transform: uppercase;
}

.tops__rating {
  margin-top: 10px;
}

.rating__reviews {
  font-size: 16px;
  line-height: 106.25%;
  padding: 0px 0px 0px 15px;
  color: #b2b2b2;
}

.counter__title {
  font-family: "HelveticaNeue";
  font-size: 24px;
  line-height: 133.33333%;
  font-weight: 300;
}

.counter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter__icon img {
  width: 48px;
  height: 48px;
}

.counter__value {
  font-family: "HelveticaNeue";
  font-size: 68px;
  font-weight: 100;
  white-space: nowrap;
  margin-left: 15px;
}

.sing-up {
  background-color: #000;
  padding: 55px 0 48px 0;
}

.sing-up__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  width: 100%;
}

.form-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form-block__label {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  color: #3bd071;
  margin-bottom: 12px;
}

.form-block__input input {
  display: block;
  height: 48px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
  line-height: 150%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0 15px;
}

.form-block__input input::-webkit-input-placeholder {
  color: #3cd072;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-block__input input::-moz-placeholder {
  color: #3cd072;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-block__input input:-ms-input-placeholder {
  color: #3cd072;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-block__input input::-ms-input-placeholder {
  color: #3cd072;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-block__input input::placeholder {
  color: #3cd072;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-block__input input:focus {
  border: 1px solid #3cd072;
}

.form-block__input input:focus::-webkit-input-placeholder {
  opacity: 0.8;
}

.form-block__input input:focus::-moz-placeholder {
  opacity: 0.8;
}

.form-block__input input:focus:-ms-input-placeholder {
  opacity: 0.8;
}

.form-block__input input:focus::-ms-input-placeholder {
  opacity: 0.8;
}

.form-block__input input:focus::placeholder {
  opacity: 0.8;
}

.form-block__input input._error {
  border: 2px solid red;
}

.form-block__btn {
  font-size: 16px;
  line-height: 300%;
  font-weight: 600;
  color: #fff;
  height: 48px;
  background-color: #3bd071;
  border-radius: 4px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0 75px;
  margin-left: 24px;
}

.form-block__btn:hover {
  background-color: #507489;
}

.contact {
  position: relative;
  z-index: 2;
  padding: 95px 0 72px 0;
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contact__column_social {
  padding: 0 0 0 100px;
}

.contact__title {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 25px 0;
}

.contact__input_form {
  margin: 0 0 25px 0;
}

.contact__input_form input {
  height: 48px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 15px;
}

.contact__input_form input::-webkit-input-placeholder {
  color: #3cd072;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form input::-moz-placeholder {
  color: #3cd072;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form input:-ms-input-placeholder {
  color: #3cd072;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form input::-ms-input-placeholder {
  color: #3cd072;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form input::placeholder {
  color: #3cd072;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form input:focus {
  border-color: #5b9e73;
}

.contact__input_form input:focus::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form input:focus::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form input:focus:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form input:focus::-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form input:focus::placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form input._error {
  border: 1px solid red;
}

.contact__input_form textarea {
  width: 100%;
  height: 192px;
  resize: none;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 15px;
}

.contact__input_form textarea::-webkit-input-placeholder {
  color: #3cd072;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form textarea::-moz-placeholder {
  color: #3cd072;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form textarea:-ms-input-placeholder {
  color: #3cd072;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form textarea::-ms-input-placeholder {
  color: #3cd072;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form textarea::placeholder {
  color: #3cd072;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__input_form textarea:focus {
  border-color: #5b9e73;
}

.contact__input_form textarea:focus::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form textarea:focus::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form textarea:focus:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form textarea:focus::-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__input_form textarea:focus::placeholder {
  color: #aaaaaa;
  opacity: 0.8;
}

.contact__btn {
  position: relative;
  height: 48px;
  background-color: #000;
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0 91px;
}

.contact__btn:hover {
  background-color: #507489;
}

.contact__icon {
  margin-bottom: 24px;
}

.contact__icon:last-child {
  margin-bottom: 0;
}

.contact__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link img {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 18px;
}

.contact__link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #fff;
          text-decoration-color: #fff;
}

.contact__social-name {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

@media (min-width: 600px) {
  .content-wats {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1366px) {
  .watts__img1 {
    min-width: 26%;
    max-width: 26%;
  }

  .watts__img2 {
    min-width: 26%;
    max-width: 26%;
  }
}

@media (min-width: 1600px) {
  .watts__img1 {
    min-width: 25%;
    max-width: 25%;
  }

  .watts__img2 {
    min-width: 25%;
    max-width: 25%;
  }
}

@media (max-width: 1250px) {
  .content-wats__slide img {
    padding: 0 52px;
  }
}

@media (max-width: 1150px) {
  .running__phone_1 {
    left: 0;
    bottom: -50px;
  }

  .running__phone_2 {
    left: 120px;
    bottom: -50px;
  }

  .running__phone_3 {
    left: 270px;
    bottom: -50px;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .watts {
    padding: 40px 0;
  }

  .content-wats__slide img {
    padding: 0 38px;
  }

  .tops {
    padding: 40px 0;
  }
}

@media (max-width: 991px) {
  .main-screen_running {
    max-height: 804px;
  }

  .header__form_input {
    width: 350px;
  }

  .header__form_btn {
    padding: 11.5px 45px;
  }

  .header__phone {
    display: none;
  }

  .header__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .header__column_r {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .bussiness__column {
    display: none;
  }

  .bussiness__column_r {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .bussiness__item_r {
    padding: 0 20px;
  }

  .bussiness {
    padding: 70px 0 55px 0;
  }

  .running {
    padding: 70px 0 0 0;
  }

  .running__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .running__column_absolute {
    display: none;
  }

  .running__list li {
    padding: 0 0 0 80px;
  }

  .tops__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tops__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .tops__column_image {
    margin: 0 0 20px;
  }

  .tops__column_status-image {
    margin: 0 auto 20px;
  }

  .tops__name {
    margin-bottom: 6px;
  }

  .tops__from {
    margin-bottom: 3px;
  }

  .counter__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 964px) {
  .easy {
    padding: 50px 0;
  }

  .easy__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .easy__footer {
    max-height: none;
    border-radius: 50px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 0 0 50px 0;
  }

  .easy {
    padding: 30px 0;
    text-align: center;
  }

  .easy__logo {
    margin: 0 0 20px 0;
  }

  .easy__header {
    margin: 0 0 35px 0;
  }

  .easy__top {
    margin: 0 0 18px 0;
  }

  .easy__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 44px 0px;
  }

  .easy__column:last-child {
    margin: 0px 0px 0px 0px;
  }

  .easy__content {
    margin: 0 0 30px 0;
  }

  .sports {
    padding: 30px 0 40px 0;
  }

  .sports__title {
    font-size: 21px;
  }

  .sports__subtitle {
    font-size: 31px;
  }

  .sports__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -2.5px -2.5px;
  }

  .sports__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    padding: 2.5px 2.5px;
  }

  .watts {
    padding: 30px 0;
  }

  .contact {
    padding: 55px 0 42px 0;
  }

  .contact__column_social {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 767.98px) {
  .watts__img1 {
    min-width: 40%;
    max-width: 40%;
  }

  .watts__img2 {
    min-width: 40%;
    max-width: 40%;
  }

  .content-wats__slide img {
    padding: 0 30px;
  }
}

@media (max-width: 650px) {
  .main-screen_running {
    max-height: 1535px;
  }

  .running {
    padding: 50px 0 0 0;
  }

  .running__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .running__form_input {
    max-width: none;
    width: 100%;
    height: 48px;
    padding: 0 12px;
    margin: 0 0 10px 0;
  }

  .running__form_btn {
    max-width: none;
    width: 100%;
    height: 48px;
    font-size: 20px;
    margin: 0;
  }

  .running__form-block {
    padding: 30px 0;
  }

  .running__form-title {
    font-size: 20px;
  }

  .tops__title {
    font-size: 31px;
  }

  .tops__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tops__column_avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .tops__name {
    font-size: 30px;
  }

  .tops__from {
    margin-bottom: 3px;
  }

  .tops .tops__column_big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tops .tops__column_info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .tops .tops__column_counter {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .tops__rating {
    margin: 5px 0 10px 0;
  }

  .sing-up {
    padding: 30px 0;
  }

  .sing-up__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form-block__label {
    font-size: 21px;
  }

  .form-block__input {
    margin-bottom: 5px;
  }

  .form-block__btn {
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .watts__img1 {
    margin: 0px 0px 30px 0px;
    min-width: 50%;
    max-width: 75%;
  }

  .watts__img2 {
    display: none;
  }

  .content-wats__swiper {
    display: none;
  }

  .content-wats__reserv-low-resolution {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .footer {
    padding: 30px 0;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__column {
    margin-bottom: 10px;
  }

  .footer__column:last-child {
    margin: 0;
  }

  .header__form_block {
    width: 100%;
  }

  .header__form_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__form_input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
  }

  .header__form_btn {
    padding: 11.5px 45px;
  }

  .header__icon-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
  }

  .header__title h1 {
    font-size: 24px;
  }

  .header__apple {
    margin: 0 0 35px 0;
  }

  .bussiness {
    padding: 45px 0 45px 0;
  }

  .sports {
    padding: 30px 0 40px 0;
  }

  .sports__title {
    font-size: 21px;
  }

  .sports__subtitle {
    font-size: 31px;
  }

  .sports__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: -2.5px -2.5px;
  }

  .sports__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    padding: 2.5px 2.5px;
  }

  .counter__title {
    white-space: nowrap;
  }

  .counter__value {
    font-size: 55px;
  }

  .contact {
    padding: 35px 0;
  }

  .contact__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 20px;
  }

  .contact__column_social {
    padding: 0;
  }

  .contact__input_form textarea {
    width: 100%;
    height: 48px;
  }

  .main-screen_contact {
    max-height: none;
  }
}

@media (max-width: 479.98px) {
  .header__form_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__form_input {
    margin: 0px 0px 15px 0px;
  }

  .header__form_btn {
    white-space: normal;
  }

  .watts {
    padding: 30px 0;
  }

  .watts__main-image {
    margin-bottom: 30px;
  }

  .content-wats__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .tops {
    padding: 30px 0;
  }
}

@media (max-width: 343px) {
  .running__list li {
    margin: 0 0 35px 0;
  }
}

._webp .header__apple_link::before{ background: url(../img/logos/apple_logo_1085.webp) left no-repeat; }

._webp .bussiness__title::before{ background: url(../img/icons/bussiness_icon_01.webp); }

._webp .running__title::before{ background: url(../img/logos/running__logo.webp); }

._webp .running__list li::before{ background: url(../img/icons/running_check_icon.webp); }